[SERVER]
SERVER_NAME = FQDN:PORT
SECRET_KEY = change-me-to-a-random-string

[database]
host = localhost
username = username
password = password

[SMTP]
server = smtp.example.com
port = 25
use_tls = False
username = 
password = 
default_sender = 