{% extends "layout.html.j2" %}
{% from "macros.html.j2" import phos_field %}
{% block title %}Log In · Hashview{% endblock %}
{% block content_anon %}
<div class="card">
    <div class="card-body">
        <div class="auth-title">Log In</div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ phos_field(form.email) }}
            {{ phos_field(form.password) }}
            <label class="check-row">
                {{ form.remember() }} <span>{{ form.remember.label.text }}</span>
            </label>
            {{ form.submit(class="btn btn-primary btn-block") }}
        </form>
        <div class="auth-foot">
            <a class="auth-link" href="{{ url_for('users.reset_request') }}">Forgot password?</a>
        </div>
    </div>
</div>
{% endblock %}
