{% extends "setup_base.html.j2" %}
{% from "macros.html.j2" import phos_field with context %}

{% block setup_title %}Set Initial Settings{% endblock %}

{% block content %}
<form method="POST" action="/setup/settings">
    {{ form.hidden_tag() }}
    {{ phos_field(form.retention_period) }}
    {{ phos_field(form.max_runtime_tasks) }}
    {{ phos_field(form.max_runtime_jobs) }}
    {{ form.submit(class="btn btn-primary btn-block") }}
</form>
{% endblock %}
